:root,
[data-theme="light"] {
  color-scheme: light;

  --font-sans: "Inter", sans-serif;

  --background: oklch(1 0 0);
  --foreground: oklch(0.321093 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.321093 0 0);

  --primary: oklch(0.54375 0.191015 267.005);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --primary-hover: oklch(0.483663 0.190265 267.018);

  --muted: oklch(0.991063 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --disabled-foreground: oklch(0.74 0 0);
  --accent: oklch(0.97 0 0);

  --border: #f3f3f3;
  --muted-border: #f5f5f5;
  --input: oklch(0.991063 0 0);
  --ring: oklch(0.708 0 0);
  --overlay: oklch(0 0 0 / 50%);

  --positive: #089981;
  --negative: #f7525f;
  --destructive: var(--negative);
  --warning: oklch(0.768578 0.164801 70.108);

  --radius-sm: 4px;
  --radius-df: 6px;
  --radius-lg: 999px;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;

  --background: #070a0f;
  --foreground: oklch(0.985 0 0);
  --card: #070a0f;
  --card-foreground: oklch(0.985 0 0);

  --primary: oklch(0.54375 0.191015 267.005);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --primary-hover: oklch(0.603683 0.191341 267.047);

  --muted: #0c1115;
  --muted-foreground: #9da3aa;
  --disabled-foreground: oklch(0.52 0 0);
  --accent: #222224;

  --border: #16191f;
  --muted-border: #131519;
  --input: #0c1115;
  --ring: oklch(0.556 0 0);
  --overlay: oklch(0 0 0 / 50%);

  --positive: #089981;
  --negative: #f7525f;
  --destructive: var(--negative);
  --warning: oklch(0.768578 0.164801 70.108);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    color-scheme: dark;

    --background: #070a0f;
    --foreground: oklch(0.985 0 0);
    --card: #070a0f;
    --card-foreground: oklch(0.985 0 0);
    --primary-hover: oklch(0.603683 0.191341 267.047);
    --muted: #0c1115;
    --muted-foreground: #9da3aa;
    --disabled-foreground: oklch(0.52 0 0);
    --accent: #222224;
    --border: #16191f;
    --muted-border: #131519;
    --input: #0c1115;
    --ring: oklch(0.556 0 0);
  }
}
